<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @student.name %>'s Home Page
    </h1>
       <form action="/insert_norming_sheet_list" method="post">
    
     
    
      <div>
           <a href="/norming_sheets" class="btn btn-block btn-outline-secondary">
          Create new sheet
        </a>
      </div>

    <br>
    <br>

    <dl>
      <dt>
        Your Norming Sheets
      </dt>
      <dd>
        Placeholder for norming sheets list
      </dd>

       <dt>
        Your Team-mates' Sheets
      </dt>
      <dd>
        Placeholder for team-mates' norming sheets list
      </dd>

     
 
</div>

<hr>



  <div class="col-md-4 offset-md-4">
  

 
    <hr>
     
      <div class="form-group">
        <a href="/delete_student/<%= @student.id %>" class="btn btn-block btn-outline-secondary">
          Delete your account
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
