<h1>Sign Up</h1>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new user
    </h2>

    <form action="/insert_student">
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" placeholder="User name" required autofocus>
      </div>

      <div class="form-group">
        <label for="email_box">
          Email Address
        </label>

        <input type="email" id="email_box" class="form-control" placeholder="Email address">
      </div>

      <div class="form-group">
        <label for="password_box">
          Password
        </label>

        <input type="password" id="password_box" name="query_password" class="form-control" placeholder="Input your password...">
      </div>

<%# <form action="/insert_student">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">


  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter a password...">
 
  <label for="browser_password_confirmation">Confirmation</label>
  <input id="browser_password_confirmation" type="password" name="input_password_confirmation" placeholder="Confirm your password...">
 
%>
 
 <hr>
 <div class="form-group">
  <button class="btn btn-block btn-outline-secondary">Sign Up!</button>
  </div>
 
</form> 
