<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
  </head>

  <body>
  <a href ="/"> Home </a>
  <a href ="/user_sign_in">Sign In</a>
  <a href ="/user_sign_out">Sign Out</a>
  <a href ="/user_sign_up">Sign Up</a>
  <a href ="/students"> Users </a>
  <a href ="/norming_sheets"> Norming Sheets</a>
  <a href ="/courses"> Courses</a>
  <a href ="/norming_sheet_lists"> List</a>


    <%= yield %>
  </body>
</html>
